[project]
name = "aqarapresencesensorfp2reverseengineering"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "esphome>=2025.12.4",
]
